.contato-link {
    text-decoration: none;
    color: inherit;
    display: block; /* Faz a área toda ser clicável */
  }
  
  .contato-link {
    cursor: pointer;
  }
  .contato-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Leve clareamento */
    opacity: 0.9; /* Suaviza um pouco a opacidade */
  }