
.testimonial {
    background-color: var(--card-background);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .testimonial::before {
    content: '"';
    font-size: 4rem;
    color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 1rem;
    opacity: 0.2;
  }
  
  .testimonial-content {
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  .testimonial-author {
    font-weight: bold;
    color: var(--accent-color);
  }
  .testimonial-link {
    text-decoration: none;
    color: inherit;
    display: block; /* Faz a área toda ser clicável */
  }
  
  .testimonial {
    cursor: pointer;
  }
  .testimonial:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Leve clareamento */
    opacity: 0.9; /* Suaviza um pouco a opacidade */
  }